# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Rprofile

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

# Files produced Roxygen
man/*

# Files produced by X13
fort.6